* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* #contentContainer {
  display: none;
} */

.main-screen-container {
  height: 100vh;
}

body {
  background: black;
}

.container {
  color: white;
}

.header {
  padding: 20px;
  background: rgb(9, 9, 23);
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Navbar animation start */
.header2 {
  width: 100%;
  height: 40px;
}

.menu2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu2 li {
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #8e54e9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0 2.5rem;
  font-size: 1.25em;
  cursor: pointer;
}

.menu2 li:after,
.menu2 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
  border-radius: 10px 0 10px 0;
}

.menu2 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu2 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu2 li:hover::before,
.menu2 li:hover::after {
  width: 100%;
  height: 100%;
  border-color: #fff;
}
/* navbar animation end */

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo animation start */

.logo h2 {
  position: absolute;
  filter: contrast(175%) brightness(200%);
}

.logo h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #002fff82;
}

.logo h2:nth-child(2) {
  color: rgb(39, 57, 248);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* logo animation end */

.content {
  width: fit-content;
  color: white;
  margin: 10em;
  margin-left: 15.9em;
}

.content h1 {
  font-size: 2.5rem;
}

.content h1,
h3 {
  margin-bottom: 0.2em;
}

.content #element {
  font-size: 28px;
  color: rgb(0, 94, 255);
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-shadow: 0px 8px 6px;
  font-weight: bolder;
}

.content hr {
  margin-top: 15px;
  margin-left: 0;
  width: 7%;
  height: 3px;
  border-radius: 20px 0;
  border-width: 0;
  background-color: white;
}

.content p {
  width: 25rem;
  margin: 20px 0;
  font-family: cursive;
  text-align: justify;
}

@media screen and (max-width: 1062px) {
  .content p {
    width: 27rem;
  }
}

@media screen and (max-width: 869px) {
  .content p {
    width: 20rem;
  }
}

.social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.social_media .fa-github,
.fa-linkedin {
  width: fit-content;
  font-size: 27px;
  letter-spacing: 1rem;
}

.social_media .fa-github {
  color: aliceblue;
}

/* resume button start */

.resume {
  width: 100px;
  display: block;
  padding: 8px;
  border-radius: 3.5px;
  background: linear-gradient(to left, black 50%, white 50%, blue);
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

.resume-container {
  border: 2px solid white;
  border-radius: 3.5px;
}

.resume:hover {
  background-position: right bottom;
}

a {
  text-decoration: none;
}

.text {
  text-align: center;
  font-size: 18px;
  color: black;
  transition: all 0.6s ease-out;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.text:hover {
  color: white;
}
/* resume button end */

.image {
  position: absolute;
  top: 8rem;
  width: fit-content;
}

/* Start of Card Flip animation */
.card {
  position: absolute;
  top: 14rem;
  left: 57rem;
  width: 300px;
  height: 300px;
  margin: -150px;
  float: left;
  perspective: 500px;
}

.__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover .__content {
  transform: rotateY(180deg);
  transition: 0.5s ease-in-out;
}

.front,
.back {
  object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(10, 52, 61);
  box-shadow: 10px 10px 20px rgb(42, 10, 107);
  border-radius: 50%;
  backface-visibility: hidden;
}

.front img {
  width: fit-content;
  border-radius: 50%;
}

.back {
  background: linear-gradient(135deg, blue, rgb(1, 179, 255), white);
  color: white;
  transform: rotateY(180deg);
}
/* End of Card Flip animation */

.back ul {
  position: absolute;
  bottom: 3rem;
  list-style-position: inside;
  list-style-type: circle;
}

.back h1 {
  position: absolute;
  top: 2rem;
}
/* wave animation for scroll section */
.wave-container {
  background: rgb(9, 9, 23);
}

.wave {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wave span {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  animation: wave 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

/* Scroll animation start */
section {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section:nth-child(1) {
  color: #e0ffff;
}
section:nth-child(2) {
  color: #42455a;
  background: #e0ffff;
}
section:nth-child(3) {
  color: #e0ffff;
}
section:nth-child(4) {
  color: #e0ffff;
  background: rgb(12, 12, 30);
}
section .container {
  margin: 100px;
}

.text-box img {
  border-radius: 10px;
}

/* arrow animation starts */
.arrow {
  position: absolute;
  top: 170%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* arrow animation ends */

section h1 {
  font-size: 3rem;
  margin: 20px;
}
section h2 {
  font-size: 40px;
}

section .text-container .text-box {
  margin: 20px;
  padding: 20px;
}

.text-box {
  overflow: hidden;
}

.text-box img {
  width: 60%;
  cursor: pointer;
  transition: transform 0.5s, filter 1.2s ease-in-out;
  filter: grayscale(100%);
}

.text-box img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.text-box {
  position: relative;
}

.text-box p {
  position: absolute;
  top: 35%;
  bottom: 50%;
  right: 65%;
  padding: 60px 10px;
  color: white;
  background: rgba(9, 9, 23, 0.509);
  border: 2px solid white;
  border-radius: 10px 10px 0 10px;
  text-align: justify;
  text-shadow: 0 10px 20px #8e54e9;
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: center;
}

@media (max-width: 900px) {
  section h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .text-container {
    flex-direction: column;
  }
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container {
  color: white;
}
/* Scroll animation ends */

/* Back to top button start */
#button {
  display: inline-block;
  background-color: transparent;
  width: 51.5px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.409);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: blue;
}
#button:active {
  background-color: rgb(22, 22, 200);
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* project-section effect start */
.letter {
  font-family: monospace;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 0.03em 0.03em 0.1em #ffffff;
  cursor: default;
  display: inline-block;
  transition: transform 0.2s ease;
}

.letter-spacing {
  padding: 5px;
}

.letter:hover {
  transform: scaleX(1) scaleY(1.4);
}
/* project-section effect end */
hr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 60px;
  position: relative;
  overflow: hidden;
  border: none;

  &::before {
    content: "";
    background-image: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 156.2 17' enable-background='0 0 156.2 17'><path d='m156.2 0v1c-4.6 0-6.9 3.8-9.3 7.8-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2c-2.4-4-4.7-7.8-9.3-7.8s-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2-4.8-7.8-9.4-7.8-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2-4.8-7.8-9.4-7.8-6.9 3.8-9.3 7.8c-2.5 4.1-5 8.2-10.2 8.2s-7.7-4.2-10.2-8.2c-2.4-4-4.7-7.8-9.3-7.8v-1c5.2 0 7.7 4.2 10.2 8.2 2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4 5.1-8.2 10.2-8.2 5.2 0 7.7 4.2 10.2 8.2 2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4.1 5-8.2 10.2-8.2s7.7 4.2 10.2 8.2c2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.5-4.1 5-8.2 10.2-8.2s7.7 4.2 10.2 8.2c2.4 4 4.7 7.8 9.3 7.8s6.9-3.8 9.3-7.8c2.7-4 5.2-8.2 10.4-8.2' fill='lightcyan'/></svg>");
    background-repeat: repeat-x;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.skills {
  height: 100vh;
  color: white;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills ul {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-radius: 20px;
  background: rgba(9, 9, 23, 0.75);
  margin: 100px 200px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.skills ul::-webkit-scrollbar {
  display: none;
}

.skills ul li {
  text-decoration: none;
  display: inline-block;
  margin: 6em 3em;
  cursor: pointer;
  transition: 1s all ease;
  animation: scrollAnimation 20s linear infinite;
}

.coding-languages {
  overflow: hidden;
}
.skills ul li img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px #8e54e9);
  transition: all 0.5s ease;
}

.skills h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: bolder;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}
