@import url("https://fonts.googleapis.com/css2?family=Macondo&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color1: #0d1321;
  --color4: #1d2d44;
  --color3: #3e5c76;
  --color2: #748cab;
  --color5: #f0ebd8;
  --color6: #1e293b;
  /* --color6: #757575; */
}

/* :root {
  
--british-racing-green: ;
--cal-poly-green: #;
--ebony: ;
--yellow-green: #9fcc2eff;
} */

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: clip;
  background: var(--color4);
}

.header {
  top: 0;
  width: 100%;
  padding: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px -1px var(--color2);
  position: fixed;
  backdrop-filter: blur(3px);
  transition: backdrop-filter 0.5s ease;
  z-index: 99;
}

/* Navbar animation start */
.header2 {
  width: 100%;
  height: 40px;
}

.menu2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.menu2 li {
  display: block;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.3px;
  text-shadow: 0 0 15px var(--color1);
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
  padding: 0 1.5rem;
  font-size: 1.3em;
  cursor: pointer;
  color: var(--color2);
}

.menu2 li:after,
.menu2 li:before {
  content: "";
  position: absolute;
  display: block;
  border: 0px solid transparent;
  width: 0%;
  height: 0%;
  transition: all 0.5s ease;
  border-radius: 10px 0 10px 0;
}

.menu2 li:after {
  width: 0%;
  height: 0%;
  top: 0;
  left: 0;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
}

.menu2 li:before {
  width: 0%;
  height: 0%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
}

.menu2 li:hover::before,
.menu2 li:hover::after {
  width: 100%;
  height: 100%;
  border-color: var(--color2);
}
/* navbar animation end */

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  padding: 2px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* logo animation start */

.logo h2 {
  position: absolute;
  filter: contrast(175%) brightness(200%);
}

.logo h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px var(--color2);
}

.logo h2:nth-child(2) {
  color: var(--color2);
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* logo animation end */

#about-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.content {
  color: var(--color2);
}

.content h1 {
  font-size: 2.5rem;
}

.content #element {
  font-size: 28px;
  color: var(--color2);
  line-height: 0.9em;
  letter-spacing: 0.02em;
  /* text-shadow: 0px 8px 6px; */
  font-weight: bolder;
}

.content hr {
  margin-top: 15px;
  margin-left: 0;
  width: 7%;
  height: 3px;
  border-radius: 20px 0;
  border-width: 0;
  background-color: var(--color2);
}

.content p {
  width: 25rem;
  margin: 20px 0;
  text-align: justify;
  letter-spacing: 0.02em;
  line-height: 1.4em;
}

@media screen and (max-width: 1062px) {
  .content p {
    width: 27rem;
  }
}

@media screen and (max-width: 869px) {
  .content p {
    width: 20rem;
  }
}

.social_media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
}

.social_media .fa-github,
.fa-linkedin {
  width: fit-content;
  font-size: 27px;
  letter-spacing: 1rem;
}

.social_media .fa-github {
  color: var(--color2);
}

/* resume button start */

.resume {
  width: 100px;
  display: block;
  padding: 8px;
  border-radius: 5px;
  background: linear-gradient(to left, var(--color2) 50%, white 50%, var(--color1));
  background-size: 200% 100%;
  background-position: left bottom;
  transition: all 0.5s ease-out;
}

.resume-container {
  border: 1px solid var(--color2);
  border-radius: 5px;
  overflow: hidden;
}

.resume:hover {
  background-position: right bottom;
}

a {
  text-decoration: none;
}

.text {
  text-align: center;
  font-size: 18px;
  color: var(--color2);
  transition: all 0.6s ease-out;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

.text:hover {
  color: var(--color4);
}
/* resume button end */

/* Start of Card Flip animation */
.card {
  width: 300px;
  height: 300px;
  perspective: 500px;
}

.__content {
  width: 100%;
  height: 100%;
  transition: 1s ease-in-out;
  transform-style: preserve-3d;
}

.card:hover .__content {
  transform: rotateY(180deg);
  transition: 0.5s ease-in-out;
}

.front,
.back {
  object-fit: contain;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 10px var(--color2);
  border-radius: 50%;
  backface-visibility: hidden;
}

.back {
  background: linear-gradient(-45deg, var(--color1), var(--lightblue),  var(--color1));
  color: var(--color2);
  transform: rotateY(180deg);
}
/* End of Card Flip animation */

.back ul {
  position: absolute;
  bottom: 3rem;
  list-style-position: inside;
  list-style-type: circle;
}

.back h1 {
  font-family: "Macondo", cursive;
  position: absolute;
  top: 2rem;
}
/* wave animation for scroll section */
.wave-container {
  width: 100%;
}

.wave {
  position: relative;
  -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.wave span {
  position: relative;
  display: inline-block;
  color: var(--color1);
  font-size: 1em;
  animation: wave 2s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(-20px);
  }

  40%,
  100% {
    transform: translateY(0px);
  }
}

.projects {
  color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.projects span {
  font-size: 50px;
}

/* Scroll animation start */
.wave-container {
  width: 100%;
  text-align: center;
  height: 100vh;
  display: flex;
  background: var(--color2);
  justify-content: center;
  align-items: center;
}
.wave span:nth-child(1) {
  animation-delay: 0.1s;
}
.wave span:nth-child(2) {
  animation-delay: 0.2s;
}
.wave span:nth-child(3) {
  animation-delay: 0.3s;
}
.wave span:nth-child(4) {
  animation-delay: 0.4s;
}
.wave span:nth-child(5) {
  animation-delay: 0.5s;
}
.wave span:nth-child(6) {
  animation-delay: 0.6s;
}
.wave span:nth-child(8) {
  animation-delay: 0.7s;
}
.wave span:nth-child(9) {
  animation-delay: 0.8s;
}
.wave span:nth-child(10) {
  animation-delay: 0.9s;
}
.wave span:nth-child(11) {
  animation-delay: 1s;
}

section .container {
  margin: 100px;
}

.text-box img {
  border-radius: 10px;
}

/* arrow animation starts */
.arrow {
  position: absolute;
  top: 170%;
  left: 53.5%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid var(--color1);
  border-right: 5px solid var(--color1);
  transform: rotate(45deg);
  animation: arrow 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

@keyframes arrow {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
/* arrow animation ends */

section h1 {
  font-size: 3rem;
  margin: 20px;
}

section .text-box {
  margin: 20px;
  padding: 20px;
}

.text-box {
  overflow: hidden;
}

.text-box img {
  display: flex;
  width: 50%;
  cursor: pointer;
  transition: transform 0.5s, filter 1.2s ease-in-out;
  filter: grayscale(100%);
}

.text-box img:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}

.text-box {
  position: relative;
}

.text-box .project-content {
  width: 40%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 60%;
}

.project-content h1 {
  font-family: "Macondo", cursive;
}

.project-content p {
  width: 100%;
  position: absolute;
  top: 30%;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-align: justify;
}

.project-links i {
  color: var(--color2);
  font-size: 1.8em;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: color 0.5s ease;
}

.project-content p span {
  color: white;
  background: linear-gradient(45deg, var(--color1), transparent);
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.project-content i:hover {
  color: var(--color3);
}

.project-links {
  position: absolute;
  padding: 0 3rem;
  bottom: 0;
  left: 0;
}

.project-links .tags {
  padding: 6px 10px;
  border: 2px solid var(--color2);
  border-radius: 6px;
  font-weight: bold;
  background: transparent;
  color: var(--color2);
  letter-spacing: 0.1em;
  margin: 0 4px;
}

.project-links .tags:hover {
  background: linear-gradient(to top right, var(--color1), var(--color3));
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.container {
  background: var(--color4);
  color: var(--color2);
}
/* Scroll animation ends */

/* Back to top button start */
#button {
  display: inline-block;
  background-color: transparent;
  width: 51.5px;
  text-align: center;
  border: 2px solid var(--color1);
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1.25em;
  line-height: 50px;
  color: var(--color2);
}
#button:hover {
  cursor: pointer;
  background-color: var(--color1);
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/* project-section effect start */
.letter {
  font-family: monospace;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 0.03em 0.03em 0.1em var(--color2);
  cursor: default;
  display: inline-block;
  transition: transform 0.2s ease;
  color: var(--color2);
}

.letter-spacing {
  padding: 5px;
}

.letter:hover {
  transform: scaleX(1) scaleY(1.4);
}
/* project-section effect end */
hr {
  border-color: var(--color2);
}

.skills {
  width: 100%;
  height: 100vh;
  color: var(--color2);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.skills-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-header span {
  font-size: 50px;
}

.skills ul {
  border-top: 2px solid var(--color2);
  border-bottom: 2px solid var(--color2);
  border-radius: 20px;
  margin: 100px 200px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.skills ul::-webkit-scrollbar {
  display: none;
}

.skills ul li {
  text-decoration: none;
  display: inline-block;
  margin: 4em;
  transition: 1s all ease;
  animation: scrollAnimation 20s linear infinite;
}

.coding-languages {
  overflow: hidden;
}

.coding-languages ul{
  background: var(--lightblue);
}

.coding-languages ul li span {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 1s;
  border-bottom: 2px dotted var(--color2);
}

.coding-languages ul li img:hover + span {
  visibility: visible;
  opacity: 1;
}

.skills ul li img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 2px var(--color1));
  transition: all 0.5s ease;
}

.skills h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
  font-weight: bolder;
}

@keyframes scrollAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1600px);
  }
}

*::-webkit-scrollbar {
  width: 0.8em;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px var(--color2);
  background-color: #f5f5f5;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color3);
  border-radius: 10px;
  border: 1px solid var(--color2);
  -webkit-box-shadow: inset 0 0 10px var(--color2);
}

#splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color2);
  color: var(--color4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
}

/* smoke effect start */
.splash-content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    var(--color5),
    var(--color4)
  );
  mix-blend-mode: color;
  pointer-events: none;
}

video {
  object-fit: cover;
}

.splash-content h1 {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  color: var(--color4);
  font-size: 8rem;
  text-transform: uppercase;
  font-family: sans-serif;
  filter: drop-shadow(1px 1px 5px var(--color4));
}

.splash-content h1 span {
  opacity: 0;
  display: inline-block;
  filter: blur(1px);
  animation: smoke 0.5s linear forwards;
}

@keyframes smoke {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
    filter: blur(0);
  }
}

.splash-content h1 span:nth-child(1) {
  animation-delay: 1.2s;
}

.splash-content h1 span:nth-child(2) {
  animation-delay: 2s;
}

.splash-content h1 span:nth-child(3) {
  animation-delay: 2.3s;
}

.splash-content h1 span:nth-child(4) {
  animation-delay: 2.8s;
}

h1 span:nth-child(5) {
  animation-delay: 3.2s;
}

h1 span:nth-child(6) {
  animation-delay: 3.7s;
}

h1 span:nth-child(8) {
  animation-delay: 1.2s;
}

h1 span:nth-child(9) {
  animation-delay: 2.15s;
}

h1 span:nth-child(10) {
  animation-delay: 2.8s;
}

h1 span:nth-child(11) {
  animation-delay: 3.2s;
}

h1 span:nth-child(12) {
  animation-delay: 3.6s;
}
/* smoke effect end */

/* footer start */
.footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  height: 12vh;
  background: var(--color4);
  color: var(--color4);
  border: none;
  line-height: 2em;
}

.footer-content {
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer-icons {
  font-size: 1.5em;
}

.footer-icons a i {
  color: var(--color5);
  padding: 0 0.2em;
  margin: 0.1em;
  transition: color 0.3s ease;
}

.footer-icons a i:hover {
  color: var(--color2);
}
/* footer end */

/* about start */
.about-container {
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background: var(--color3);
  color: var(--color4);
}

.about-content {
  padding: 0 6em;
  text-align: justify;
  letter-spacing: 0.02em;
}

.about-img {
  padding-left: 10%;
}

.about-img img {
  width: 300px;
  border-radius: 4px;
  transition: box-shadow 0.3s ease-in-out;
  background: linear-gradient(45deg, var(--color2), var(--lightblue), var(--color2));
}

.about-content p {
  line-height: 1.5em;
  font-size: 1.1em;
}

.about-content h2 {
  color: var(--color1);
}

/* about end */

/* contact start */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100vh;
  margin: auto;
  margin-bottom: 4.3em;
  background: var(--color6);
}

.title {
  padding: 2% 0;
}

.title span {
  font-size: 50px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2%;
}

.input-group,
.textarea-group {
  padding: 1% 0;
}

input,
textarea {
  color: var(--color2);
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color2);
  padding: 1.5%;
  font-size: 20px;
}

input:focus,
textarea:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid var(--color2);
  color: var(--color2);
}

input::placeholder,
textarea::placeholder {
  color: transparent;
}

label {
  color: var(--color2);
  position: relative;
  left: 0.5em;
  top: -2em;
  cursor: auto;
  transition: 0.3s ease all;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -4em;
  color: var(--color3);
  font-size: 15px;
}

textarea:focus ~ label,
textarea:not(:placeholder-shown) ~ label {
  top: -10.5em;
  color: var(--color3);
  font-size: 15px;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-btn button {
  padding: 2%;
  width: 50%;
  border: 1px solid var(--color4);
  border-radius: 5px;
  font-family: inherit;
  font-size: 18px;
  background-color: var(--color2);
  color: var(--color4);
  box-shadow: 0 0 10px var(--color4);
  transition: background-color 0.2s ease;
}

.submit-btn button:hover {
  background-color: var(--color4);
  color: var(--color2);
  cursor: pointer;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  .form {
    width: 70%;
  }
}

@media screen and (max-width: 680px) {
  .form {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 40px;
    padding-top: 6%;
  }

  .title-info {
    font-size: 13px;
  }

  .form {
    padding: 6% 4%;
    padding-top: 15%;
  }

  .input-group,
  .textarea-group {
    padding: 3% 0;
  }

  input,
  textarea {
    font-size: 15px;
  }

  input:focus ~ label,
  input:not(:placeholder-shown) ~ label {
    top: -3.5em;
    left: 0.1em;
  }

  textarea:focus ~ label,
  textarea:not(:placeholder-shown) ~ label {
    top: -8.5em;
    left: 0.2em;
  }

  button {
    font-size: 15px;
  }
}

.alert {
  display: none;
  color: var(--color4);
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 2px 3px 3px var(--color2);
}

/* contact end */

/* media query start */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* below 600 */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* above 600 */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

/* media query end */
